*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow: hidden;
font-family: 'Poppins', sans-serif;
background-color:rgb(92%, 94%, 99%);
}
nav{
    display: flex;
    justify-content: space-around;/*impo */
}
button{
    background-color: rgb(43, 240, 174);
    color: white;
    font-weight: 700;
    border: white solid 2px;
    border-radius: 5px;
    width: fit-content;
     padding: 4px 10px; /*importent */
    cursor: pointer;
}
button:hover {
    background-color: white;
    color: rgb(11, 179, 142);
    border: 1px solid black;
  }
  header{
    padding-top: 24px;
  }
  nav ul{
    display: flex;
    justify-items:space-between;
    font-weight:lighter;
    gap: 50px;
  }
  nav ul li:hover {
    text-decoration: underline;
    font-weight: bolder;
    cursor: pointer;
  }
  
  .searchbox {
    display: flex;
    /* gap: 30px; */
    background-color: white;
     padding: 2px; 
    border-radius: 3px; 
  }
.fot{
     display: flex;
     justify-content: space-around; 
     /* padding: 20px; */
    align-items: end;
    padding-top: 100px;
}
.fot ul{
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
.main {
  display: flex;
}
.main-left-section{
  width: 800px;
  height: 400px;
  padding: 150px 105px 0px 210px;
}
span {
  font-weight: bolder;
  font-size: larger;
  color:rgb(11, 179, 142) ;
}
.paraa{
  word-spacing: 6px;
  
}
img{height: 300px;
     width: 300px;
    }
.main-right-section{
  padding-top: 90px;
  display:grid ;
  row-gap: 9px;
}
.bton{
  /* justify-content: center; */
  padding-left:30%;
  
}
.together {
  display: flex;
  column-gap: 5px;
}